* {
  font-family: 'Segoe UI', 'sans-serif';
  box-sizing: border-box;
}

body {
  background-color: #871a7e;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: #fff;
  gap: 50px;
}

.counter-container {
  text-align: center;
}

.counter {
  font-size: 60px;
  margin-top: 10px;
}